* {
  box-sizing: border-box;
}

.col-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header{
  text-align: -webkit-center;
  margin: 40px 0;
}

.col-droppable {
  width: 100%;
  background-color: rgb(209, 208, 208);
  padding: 10px 10px 0 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.column {
  width: 31%;
}

.item {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  font-size: 18px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 6px;
}

.item.dragging {
  background-color: rgb(137, 188, 255);
}

.modal-content{
  height: 350px;
}